<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ basics.name }}'s CV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32">
  <style type="text/css">
    body {
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
      max-width: 800px;
      margin: 1em auto;
      word-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
    }

    main {
      display: grid;
      grid-template-columns: 1fr 4.85fr;
      gap: 2em;
      line-height: 1.6;
    }

    main>header {
      text-align: center;
      grid-column: 1 / span 2;
      margin-bottom: 20px;
      border-bottom: 3px solid black;
    }

    main>section {
      display: contents;
    }

    section>header {
      grid-column: 1;
      font-weight: bold;
      font-size: 1.2em;
    }

    section>ul {
      grid-column: 2;
      padding-left: 2em;
    }

    section h1 {
      margin: 0;
      font-size: 1em;
    }

    section>ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    section>ul>li {
      margin-bottom: 1em;
    }

    section>ul ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    section {
      margin-bottom: 10px;
    }

    .split {
      display: flex;
      justify-content: space-between;
    }

    .indent>time {
      margin-right: 1.5em;
    }

    .tight>li {
      margin-bottom: 0;
    }

    .footnote {
      color: gray;
      font-size: medium;
      font-weight: normal;
      text-decoration: none;
    }

    .name {
      margin: 0;
      font-size: xxx-large;
    }

    main>header>ul {
      display: inline;
      padding: 0;
      list-style: none;

      >li {
        display: inline;
      }

      >li:after {
        content: " •";
      }

      >li:last-child:after {
        content: none;
      }
    }

    @media screen and (max-width: 650px) {
      main {
        margin: 0 1em;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
      }

      section>header {
        grid-column: 1;
        border-bottom: 1px solid black;
      }

      section>ul {
        grid-column: 1;
      }

    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #282c34;
        color: #dcdfe4;
      }

      main>header {
        border-bottom-color: #5c6370;
      }

      .footnote {
        color: #919baa;
      }

      a {
        color: #61afef;
      }
    }

    @media print {
      body {
        padding: 0;
        margin: 0.5in;
        font-size: 11px;
      }

      .footnote {
        font-size: 9px;
        color: black;
      }
    }
  </style>
</head>

<body>

  <main>

    <header>
      <h1 class="name">{{basics.name}}</h1>
      <ul>
        <li>Neuroscience Institute, Princeton, NJ 08540</li>
        <li><a href="mailto:zzada@princeton.edu">zzada@princeton.edu</a></li>
        <li><a href="https://www.zaidzada.com">www.zaidzada.com</a></li>
      </ul>
    </header>

    <section>
      <header>
        <h1>Education</h1>
      </header>
      <ul>
        {% for uni in education %}
        <li>
          <ul>
            <li class="split">
              <span><strong>{{uni.institution}}</strong></span>
              <span>{{uni.loc}}</span>
            </li>
            <li class="split">
              <span>{{uni.studyType}} in {{uni.area}}.</span>
              <span>
                <i>{{uni.endDate.strftime('%B, %Y')}}</i>
              </span>
            </li>
            <!-- {% if uni.score is defined %}
            <li>GPA: {{uni.score}} / 4.0</li>
            {% endif %} -->
            {% if uni.advisor is defined %}
            <li>Advisor(s): {{uni.advisor}}</li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Selected works</h1>
      </header>
      <ul>
        {% for paper in preprints %}
        {% if paper.featured %}
        <li>{{paper.authors}} ({{paper.date.strftime('%Y')}}). {{paper.title}}. <i>{{paper.publisher}}</i>.</li>
        {% endif %}
        {% endfor %}
        {% for paper in publications %}
        {% if paper.featured %}
        <li>{{paper.authors}} ({{paper.date.strftime('%Y')}}). {{paper.title}}. {{paper.publisher}}.</li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Publications</h1>
        <p class="footnote">[* shared authorship]</p>
      </header>
      <ul>
        {% for paper in publications %}
        <li>{{paper.authors}} ({{paper.date.strftime('%Y')}}). {{paper.title}}. {{paper.publisher}}.
          {% if paper.doi is defined %}
          <a href="{{ paper.doi }}"><span class="journal_badge">{{ paper.doi }}</span></a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Preprints</h1>
      </header>
      <ul>
        {% for paper in preprints %}
        <li>{{paper.authors}} ({{paper.date.strftime('%Y')}}). {{paper.title}}. <i>{{paper.publisher}}</i>.
          {% if paper.doi is defined %}
          <a href="{{ paper.doi }}"><span class="journal_badge">{{ paper.doi }}</span></a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Conference Presentations</h1>
        <p class="footnote">[<u>presenter</u>]</p>
      </header>
      <ul>
        {% for talk in presentations %}
        <li>{{talk.authors}} ({{talk.date.strftime('%Y')}}). {{talk.title}}. <i>{{talk.venue}}</i>, {{talk.city}}.
          <span class="border_badge">[{{ talk.type }}]</span>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>(Contributing Author)</h1>
      </header>
      <ul>
        {% for talk in conference_coauthor %}
        <li>{{talk.authors}} ({{talk.date.strftime('%Y')}}). {{talk.title}}. <i>{{talk.venue}}</i>, {{talk.city}}.
          <span class="border_badge">[{{ talk.type }}]</span>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Teaching Experience</h1>
      </header>
      <ul>
        {% for school in teaching %}
        <li>
          <ul class="tight">
            <li class="split">
              <span><strong>{{school.name}}</strong></span>
              <span>{{school.startDate.strftime('%Y')}} – {{school.endDate.strftime('%Y')}}</span>
            </li>
            <li><i>{{school.position}}</i></li>
            <li>
              <ul style="list-style-type: disc; padding-left: 2em;">
                {% for course in school.courses %}
                <li> {{course.name}} </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Awards</h1>
      </header>
      <ul class="tight">
        {% for award in awards %}
        <li class="split">
          <span>
            {% if award.url is defined %}
            <a href="{{ award.url }}">{{ award.title }}</a>
            {% else %}
            {{ award.title }}
            {% endif %}
            from <em>{{ award.awarder }}</em>.
          </span>
          <time>{{ award.date.strftime('%Y') }}</time>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Service Positions</h1>
      </header>
      <ul class="tight">
        {% for position in service %}
        <li class="split">
          <span>{{ position.name }}, <i>{{ position.place }}</i>.</span>
          <time>{{ position.year }}</time>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Industry Experience</h1>
      </header>
      <ul>
        {% for position in work %}
        <li>
          <ul>
            <li class="split">
              <span><strong>{{position.name}}</strong></span>
              <span>{{position.startDate.strftime('%Y')}} – {{position.endDate.strftime('%Y')}}</span>
            </li>
            <li><i>{{position.position}}</i></li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <header>
        <h1>Media Coverage</h1>
      </header>
      <ul class="tight">
        {% for article in media %}
        <li class="split">
          <span>{{article.name}}.
            {% if article.url is defined %}
            <a href="{{article.url}}">[link]</a>
            {% endif %}
          </span>
          <time>{{article.date.strftime('%Y')}}</time>
        </li>
        {% endfor %}
      </ul>
    </section>

  </main>

</body>

</html>