{% extends "base.jinja" %}
{% block content %}

{% include 'icons.svg' %}

<section id="bio">
  <header>
    <h1>{{ basics.name }} <span style="text-align: right">{{ basics.name_alt }}</span></h1>
  </header>
  <ul>
    <li>
      <img src="{{ basics.image }}" alt="profile picture" width="175px">
    </li>
    <li>{{ basics.label }}</li>
    <li><a href="https://psych.princeton.edu">{{ education[0].area }}</a></li>
    <li><a href="{{ education[0].url }}">{{ education[0].institution }}</a></li>

  </ul>
  <p>{{ basics.summary }}</p>
  <footer>
    {% for profile in basics.profiles %}
    <a href="{{ profile.url }}">
      <svg class="icon icon-{{ profile.network }}" width="32" height="32">
        <use xlink:href="#icon-{{ profile.network }}"></use>
      </svg>
    </a>
    {% endfor %}
  </footer>
</section>

<section id="papers">
  <h1>Selected works</h1>
  <p>For a complete list of papers see <a href="papers.html">this page</a>,
    my <a target="_blank" href="cv.html">CV</a>,
    or <a href="https://scholar.google.com/citations?user=RC_hwc0AAAAJ">google scholar.</a>
  </p><br />

  <div class="hr-text">
    <hr><span>preprints</span>
    <hr>
  </div>

  {% for paper in preprints %}
  {% if paper.featured %}
  <article>
    <a href="{{ paper.url }}">{{ paper.title }}</a>
    <p>{{ paper.authors }} ({{paper.date.strftime('%Y')}}). <br /> {{ paper.publisher }}.</p>
    <footer>
      {% if paper.doi is defined %}
      <a href="{{ paper.doi }}"><span class="journal_badge">doi</span></a>
      {% endif %}
      {% if paper.data is defined %}
      <a href="{{ paper.data }}"><span class="data_badge">data</span></a>
      {% endif %}
      {% if paper.code is defined %}
      <a href="{{ paper.code }}"><span class="code_badge">code</span></a>
      {% endif %}
      {% if paper.pdf is defined %}
      <a href="{{ paper.pdf }}" target="_blank"><span class="border_badge">pdf</span></a>
      {% endif %}
    </footer>
  </article>
  {% endif %}
  {% endfor %}

  <div class="hr-text">
    <hr><span>publications</span>
    <hr>
  </div>

  {% for paper in publications %}
  {% if paper.featured %}
  <article>
    <a href="{{ paper.url }}">{{ paper.title }}</a>
    <p>{{ paper.authors }} ({{paper.date.strftime('%Y')}}). <br /> {{ paper.publisher }}.</p>
    <footer>
      {% if paper.doi is defined %}
      <a href="{{ paper.doi }}"><span class="journal_badge">doi</span></a>
      {% endif %}
      {% if paper.preprint is defined %}
      <a href="{{ paper.preprint.url }}"><span class="preprint_badge">preprint</span></a>
      {% endif %}
      {% if paper.data is defined %}
      <a href="{{ paper.data }}"><span class="data_badge">data</span></a>
      {% endif %}
      {% if paper.code is defined %}
      <a href="{{ paper.code }}"><span class="code_badge">code</span></a>
      {% endif %}
      {% if paper.pdf is defined %}
      <a href="{{ paper.pdf }}" target="_blank"><span class="border_badge">pdf</span></a>
      {% endif %}
    </footer>
  </article>
  {% endif %}
  {% endfor %}
  <p>* equal contribution</p>
</section>
{% endblock %}