{% extends "base.html.jinja" %}
{% block content %}
<section id="papers">
  <h1>Preprints</h1>
  <p>* equal contribution</p>

  {% for paper in preprints %}
  <article>
    <a href="{{ paper.url }}">{{ paper.title }}</a>
    <p>{{ paper.authors }} ({{paper.date.strftime('%Y')}}). <br /> {{ paper.publisher }}.</p>
    </p>
    <footer>
      {% if paper.doi is defined %}
      <a href="{{ paper.doi }}"><span class="journal_badge">doi</span></a>
      {% endif %}
      {% if paper.data is defined %}
      <a href="{{ paper.data }}"><span class="data_badge">data</span></a>
      {% endif %}
      {% if paper.code is defined %}
      <a href="{{ paper.code }}"><span class="code_badge">code</span></a>
      {% endif %}
      {% if paper.pdf is defined %}
      <a href="{{ paper.pdf }}" target="_blank"><span class="border_badge">pdf</span></a>
      {% endif %}
    </footer>
  </article>
  {% endfor %}

</section>
<section id="papers">
  <h1>Publications</h1>

  {% for year, papers in publications | groupby('date.year') | reverse %}

  <div class="hr-text">
    <hr><span>{{ year }}</span>
    <hr>
  </div>

  {% for paper in papers %}

  <article>
    <a href="{{ paper.url }}">{{ paper.title }}</a>
    <p>{{ paper.authors }} ({{paper.date.strftime('%Y')}}). <br /> {{ paper.publisher }}.</p>
    </p>
    <footer>
      {% if paper.doi is defined %}
      <a href="{{ paper.doi }}"><span class="journal_badge">doi</span></a>
      {% endif %}
      {% if paper.preprint is defined %}
      <a href="{{ paper.preprint.url }}"><span class="preprint_badge">preprint</span></a>
      {% endif %}
      {% if paper.data is defined %}
      <a href="{{ paper.data }}"><span class="data_badge">data</span></a>
      {% endif %}
      {% if paper.code is defined %}
      <a href="{{ paper.code }}"><span class="code_badge">code</span></a>
      {% endif %}
      {% if paper.pdf is defined %}
      <a href="{{ paper.pdf }}" target="_blank"><span class="border_badge">pdf</span></a>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
  {% endfor %}
</section>
{% endblock %}