{% extends "base.jinja" %}
{% block head %}
<style type="text/css">
  #resources {
    >article>header {
      margin: 1.5em 0;
    }
  }

  .bibliography {
    list-style: none;
    /* Remove bullets */
    padding-left: 0;
  }

  .ref-item {
    margin-bottom: 1em;
    line-height: 1.35;
  }

  .ref-item cite {
    font-style: italic;
  }
</style>
{% endblock %}
{% block content %}
<section id="resources">
  <article>
    <header>This is a collection of resources I found helpful during my graduate work. Many of them come from the
      excellent ACS collection <a href="https://pubs.acs.org/page/vi/art_of_scientific_publication.html">Mastering the
        Art of Scientific Publication</a>, which includes many "Ten Simple Rules" articles. I organized the resources
      into sections depending on the type of advice you may be looking for. If any links no longer work, please contact
      me.
    </header>
    <ul class="bibliography">
      {% for section_name, references in grouped_references.items() %}
      <h1 class="bib-section-header">{{ section_name }}</h1>
      <ul class="bibliography">

        {% for entry in references %}
        <li class="ref-item" id="ref-{{ loop.index }}">
          {% if entry.author is defined %}
          <span class="authors">
            {% for author in entry.author %}
            {% if loop.index > 5 %}... {{ author.family }}, {{ author.given[0]}}. {% break %}{% endif %}
            {{ author.family }}, {{ author.given[0] }}.{% if not loop.last %}, {% endif %}
            {% endfor %}
          </span>
          {% endif %}

          {% if entry.issued is defined and entry.issued['date-parts'] %}
          (<time>{{ entry.issued['date-parts'][0][0] }}</time>).
          {% endif %}

          {% if entry.DOI is defined %}
          <a href="https://doi.org/{{ entry.DOI }}"><span class="title">{{ entry.title }}.</span></a>
          {% elif entry.URL is defined %}
          <a href="{{ entry.URL }}"><span class="title">{{ entry.title }}.</span></a>
          {% else %}
          <span class="title">{{ entry.title }}.</span>
          {% endif %}

          {% if entry['container-title'] is defined %}
          <cite>{{ entry['container-title'] }}</cite>
          {%- if entry.volume is defined %}, {{ entry.volume }}{% endif -%}
          {%- if entry.issue is defined %}({{ entry.issue }}){% endif -%}
          {%- if entry.page is defined %}, {{ entry.page }}{% endif -%}.
          {% endif %}

        </li>
        {% endfor %}
      </ul>
      {% endfor %}
  </article>
</section>

{% endblock %}